
#dummy-bar-chart-container .bar {
	fill: #6F257F;
}
#dummy-bar-chart-container .axis path,
#dummy-bar-chart-container .axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
#dummy-bar-chart-container .x path {
	display: none;
}
#dummy-bar-chart-container .toolTip {
	position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}